
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.container{
    margin-bottom: 2rem;

}

.Cart{
    border-radius: 5px 10px;
    border: solid black;
}
.Payment{
    display: flex;
    justify-content: end;
}
.Payment button{
    color: orange;
    width: 7rem;
    height: 3rem;
}
.Payment button a{
    padding-right: .5rem;
}